* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: gray;
    color: white;
}

.header {
    padding: 10px;
    background-color: rgb(7, 159, 202);

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: center;
    gap: 20px;
}

.header img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 5px;
    
}

.banner {
    padding: 10px;
    background-color: cyan;
    height: 400px;
    background-image: url(./images/ffvghghh.jpg);
    background-position: center;
    background-size: cover;

    display: grid;
    align-items: center;
}

.content {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.589);
    text-align: center;
}

#instructions {
    padding: 15px;
    background-color: rgb(68, 68, 68);

    display: grid;
    gap: 15px;
}

.section-title {
    text-align: center;
}

#instructions img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid cyan;
}

.brands {
    background-color: lightskyblue;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px;
    gap: 10px;
    border: 2px solid black;
    padding: 15px;
}

.brands img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand-card {
    border: 5px solid black;
    padding: 10px;

    display: grid;
    gap: 10px;
    text-align: center;
}

.brands-wrapper {
    padding: 10px;

    display: grid;
    gap: 15px;
}

.footer {
    padding: 15px;
    background-color: darkblue;
    border-radius: 15px;
    border: 5px solid black;
    text-align: center;
}

.place_wrapper {
    padding: 15px;
    background-color: darkturquoise;

    display: grid;
    gap: 15px;
    justify-items: center;
}

.place {
    width: 100%;
    height: 325px;
    border: 3px solid black;
    padding: 10px;
    background-color: dodgerblue;

    display: grid;
    gap: 10px;
    justify-items: center;
}

.place iframe {
    width: 100%;
    height: 250px;
}